li {
  margin: 4px auto;
  list-style: circle;
  align-items: center;
}

button {
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  color: #ffffff;
  background-color: blue;
}

.textArea {
  border: 1px solid;
  overflow: hidden;
  width: 50%;
  margin: 4px auto;
}
